[2016-07-05 16:30] dhimmel opened #1 "Registering a project domain"
We've gone with the name Project Cognoma, which combines the words cognition and carcinoma. Here we'll throw out ideas for domain names.

[2016-07-05 16:52] dhimmel commented on #1
# cogno.ma

`cogno.ma` is a natural first choice. [`.ma`](https://en.wikipedia.org/wiki/.ma) is the top level domain for Morocco.

Potential registrars include:
- [Netim](http://www.netim.com/domain-name/ma-domain.html) -- $40 per year ([possible coupons](https://www.retailmenot.com/view/netim.com))
- [Gandi](https://www.gandi.net/domain) for $86
- [INWX](https://www.inwx.com/en/domain/check) for

[2016-07-05 18:40] cgreene commented on #1
Apparently .ma requires a local contact. This is offered as a service by at least Netim. The coupons available do not work. Total cost comes to ~$55 which the lab can cover via a grant that we have from the Gordon and Betty Moore Foundation if you decide to go that route. We'd need to acknowledge: This projected is supported in part by a grant from the Gordon and Betty Moore Foundation (GBMF 4552)

[2016-07-06 02:15] dhimmel opened #2 "Introduce yourself here to get involved"
Are you interested in getting involved in Project Cognoma? If so, introduce yourself here.

I'll begin. I'm [Daniel Himmelstein](http://dhimmel.com/), a Postdoctoral Fellow in the [Greene Lab](http://www.greenelab.com/). I'm excited to help lead Project Cognoma. My background is in biological data science. I mostly program in Python and R. I know the `pandas` package in Python and `dplyr`/`tidyr`

[2016-07-06 03:06] awm33 commented on #2
My name is Andrew Madonna, I'm a software engineer at [RJMetrics](https://rjmetrics.com/). I work on large scale web applications with heavy distributed data backends. I program in Clojure (runs on the JVM) during my day job. I've also used Node.js in a distributed environment. I haven't used python beyond scripting, but I usually pick up things fast.

[2016-07-06 03:37] dcgoss commented on #1
How about cognoma.org?

[2016-07-06 03:59] dcgoss commented on #2
My name is Derek Goss, I'm a rising junior at Harriton High School. Here is my [website](https://derekgoss.com).

Currently, I'm almost done building a social network called [Pickle](https://getpickleapp.com) (updated website coming soon), where I work across the full stack of cloud (AWS & Google Cloud), backend (Python & Django & Postgres & Docker & Kubernetes), and frontend (iOS/Swift & web). I

[2016-07-06 10:27] AGanguli commented on #2
My name is Ami. I'm a software engineer with a broad range of experience, including most of the stack used at the lab (but not the machine learning libraries).

[2016-07-06 10:42] AGanguli opened #3 "Use cases to make the goals more concrete"
Can we put together a few more concrete use-cases for types of problems we would like Cognoma to solve?  This would help us to have a common vision about what exactly we're setting out accomplish.

The simplest would be to take a few existing problems that have been solved using a more manual approach, and describe how those would now be solved using Cognoma.  We should probably start with Hetione

[2016-07-06 12:05] cgreene commented on #2
My name is Casey. I run a research lab at Penn. I've got experience with Django development, machine learning, and cancer genomics. I'm looking forward to pitching in where I can and to attending as many hack nights as I'm able to.

[2016-07-06 12:16] cgreene commented on #3
User story:

I am a molecular cancer researcher (no programming/machine learning experience) who has developed a compound that I think may have anti-cancer activity. I assessed my compound against a panel of cancer models (cell line, patient derived xenograft, etc) and it was very effective for some of the models but ineffective for most models. These cancer models have been profiled for gene expr

[2016-07-06 12:54] tkhunkhe commented on #2
My name is Kwan. I'm a summer intern at Computational Medicine Center, Jefferson Univerity. I'm a
rising senior at Univerity of Rochester double major in Data Science and Computational Biology. Right
now, I'm using H2O deep learning package in R to find if some particular noncoding RNA molecules
played roles in the translation process. I'm doing pan-cancer analysis on the TCGA dataset. I've got
ex

[2016-07-06 13:10] gwaybio commented on #2
My name is [Greg Way](http://www.gway-genomics.com/) and I am a PhD student in the [GCB Program](http://www.med.upenn.edu/gcb/index.shtml) at [Penn](http://www.upenn.edu/programs/graduate). I work in Python and R and have experience with machine learning and cancer genomics. In the [Greenelab](http://greenelab.com), we are part of the [TCGA PanAtlas initiative](http://www.nature.com/tcga/) and are

[2016-07-06 13:44] stephenshank commented on #2
My name is Stephen Shank, and I'm a postdoc at the <a href='http://ccgg.temple.edu/'>Center for Computational Genetics and Genomics</a> at Temple University. I'm a mathematician by training and am currently working on evolutionary genomics. A lot of my work overlaps with machine learning. I also do freelance web development. I primarily work in Python (scientific Python stack, Django) and dabble i

[2016-07-06 14:07] mydpy commented on #2
Hi,

My name is Myles Baker. I'm a data science & engineering consultant at CapTech. I live in Richmond, Virginia but my client is in Philadelphia. I've been pretty quiet in the Data Philly meetup group, but I'm passionate about the group's goals and want to contribute where I can. I help organize Cassandra and Spark meetups in Richmond.

My background is in applied mathematics and advanced statis

[2016-07-06 15:35] dhimmel commented on #1
It looks like cognoma.org was recently registered with namecheap. @dcgoss I assume that was you? We will want to control the domain name under a Greene Lab account for longevity reasons. So if we do go with cognoma.org would you be willing to transfer the domain -- we would reimburse you?

In the meantime, can we get some opinions on which domain (cognoma.org or cogno.ma) people prefer? Cost is no

[2016-07-06 15:38] dcgoss commented on #1
It was only $10 so I bought it to be safe. If we decide not to use it that's totally fine. Transfer is no problem for me.

[2016-07-06 15:41] cgreene commented on #1
@dcgoss thanks for snapping it up before it got away! I am pretty sure that we can get you reimbursed for it as well. I am supportive of the .org domain or .ma, whichever the team favors - and we can put them on a lab account so that we keep renewing them as long as the service is active.

[2016-07-06 15:42] dhimmel commented on #1
Okay I created a [Twitter poll](https://twitter.com/dhimmel/status/750716159973003264) which will be active for the next 24 hours. We'll then reconvene based on the feedback we receive.

[2016-07-06 15:46] cgreene commented on #1
Is it possible to create a poll via a PR for people who don't tweet?

[2016-07-06 15:47] ChanningPing commented on #2
Hi,
My name is Qing Ping. I'm a PhD student in Information Science at Drexel.  Currently I've been working on video comments mining for summarization of video content.  I work in Java, Python and R. I've also had some experiences in Neo4j, D3.js, sklearn, NLTK.
I'm so excited about this project, and looking forward to contributing.

[2016-07-06 15:50] AGanguli commented on #3
Let me re-word this a little to see if I understand:

You've created a set of models (probably xenografts in mice), and tested the effectiveness of your compound against each different type of tumor.  You've also assayed the gene expression in each tumor.

The inputs to Cognoma would be gene expression values (a list of numbers for each model), as well as some sort of effectiveness metric (one num

[2016-07-06 15:51] dhimmel commented on #1
Can people without Twitter just leave a comment here noting their preference?

[2016-07-06 15:52] DCousminer commented on #2
Hi all, I'm Diana Cousminer, a geneticist and postdoc in the neighboring lab of Ben Voight at UPenn and Struan Grant's lab at the Children's Hospital of Philadelphia. I'm very much a biologist, with wetlab and statistical genetics experience, but I joined Ben's lab to improve my computational thinking. My husband Ami actually pulled me into this (very interesting!) project to translate the "biolog

[2016-07-06 15:57] dcgoss commented on #1
Haha, this is the exact problem Pickle was made for. One thing to consider is that having a Moroccan domain may hurt search rankings in the US. Also in my opinion having the full "cognoma" before the extension shows the name more clearly than .ma. You want people used to saying the full name instead of saying "cogno dot ma".

[2016-07-06 15:58] DCousminer commented on #3
Or is there a specific pathway you have prior evidence for testing- in which case the space is limited to gene expression of those particular genes in that single pathway?

[2016-07-06 16:32] gwaybio commented on #3
@AGanguli - The way we are thinking about Cognoma is a little different than what you describe above. Currently, the service would create a classifier based on the user's **hypothesis** (this is the key word from @cgreene's user store above). In the example, the user will _input_ a set of genes implicated in the pathway. We are thinking that in this particular case the user can input genes manuall

[2016-07-06 16:34] mike19106 commented on #2
Hey, I'm Michael.

I'm a Data Engineer, and Organizer of PhillyDB

I'm looking to make contributions in the data tier - acquisition, cleansing, loading, etc.  I've been itching to use a graph database

Also hoping to increase my understanding of ML

[2016-07-06 16:52] AGanguli commented on #3
@gwaygenomics Thanks.

I'm afraid I'm missing something, though.  It sounds like the gene expression info would be the input to the classifier, in which case the the output would be essentially the same as the input.

What am I missing?

[2016-07-06 17:07] gwaybio commented on #3
@AGanguli The input to Cognoma would be a list of genes. For example, if I was interested in developing a classifier to detect RAS signalling I may input a list like this into the not yet developed GUI:

[code]

Our project will then construct a matrix `Y` corresponding to the mutation status of samples in our database. E.g.

| Sample ID | Input Gene Mutation Status |
| :-: | :-: |
| A | 0 |
| B |

[2016-07-06 17:43] dcgoss commented on #3
That was helpful, but I still have a few questions. Can you elaborate on what a "sample" is and what "input gene mutation status" means? Does the gene mutate or does it cause a mutation in something else? Is 1 indicating the absence or presence of a mutation?

[2016-07-06 18:10] gwaybio commented on #3
Hi @dcgoss, to answer your questions:

# What is a "sample"?

In our case, a sample is a tumor that has been profiled by RNA sequencing (for more specific details refer to this [MIT lecture](https://youtu.be/MniYgsZSp30?t=1m30s)). After a series of preprocessing steps that are beyond the scope of this discussion, we arrive at the sample (or tumor) having measurements for the expression of ~20,000

[2016-07-06 18:13] cgreene commented on #1
If only we knew someone who could get us early access to https://getpickleapp.com/. _cough_ _cough_

[2016-07-06 18:15] DCousminer commented on #3
And I assume these gene mutations are only those previously shown to be pathogenic or alter gene expression?

[2016-07-06 18:20] AGanguli commented on #3
@gwaygenomics Thanks!  Very helpful.  This is much clearer now.

[2016-07-06 18:24] gwaybio commented on #3
@DCousminer We imagine that in several use cases, the gene mutations are known to be pathogenic and/or alter gene expression, however, this is not strictly comprehensive of all potential cases. The case that @cgreene outlined above would be one of these cases. An alternative case uses @dhimmel's [hetionet](https://neo4j.het.io/browser/) technology and [heterogeneous networks](http://journals.plos.

[2016-07-06 19:15] clairemcleod commented on #2
Hi everyone, I'm Claire.

I'm a PhD student in Bioengineering at Penn, where I work with Rob Mauck and Arjun Raj. My thesis focuses on stem cell heterogeneity and single cell analysis of gene and protein expression data. I primarily use R and am in the process of transitioning to Python/pandas/sklearn.

This seems like an excellent project and I am looking forward to contributing! I am hoping to g

[2016-07-06 19:22] rzelayafavila commented on #2
Hi all, my name is Rene and I am a programmer in the [Greene Lab](http://www.greenelab.com/). My main experience is working with both in the backend with Python and Django and in the front end with JavaScript (and the AngularJS framework), HTML and CSS to make bioinformatics tools accessible to biologists. I am excited to see this project take off and will be coming to the hack nights to help howe

[2016-07-06 19:44] htcai commented on #2
Hi all,

I am Haitao. I am graduating from the Linguistics Department at Penn with an MA. I was specializing in semantics and pragmatics and also did side projects involving data mining and natural language processing using Python. I am rapidly acquiring and strengthening my skills in data science (Coursera), machine learning (Udacity) and Spark (edX).

Looking forward to contributing to this exci

[2016-07-06 23:36] awm33 commented on #3
So the goal is to help researchers construct and test ML classifiers/predictors using a friendly GUI?

I think you would need to have a set of common use cases and the possible inputs for those use cases. Given the use case and type data input available from the researcher, the computer would pick one or more algorithms to try.

For this use case the user inputs:
- A list of genes - Maybe using a

[2016-07-06 23:48] zfanelle commented on #2
Hi all,

I am Zack. I am a Cassandra Engineer at Comcast. I graduated Villanova University with a degree in CS, and I am working on my Masters in CIS in Database Management and Business Intelligence.

I look forward to contributing to the database backend with the engineers here. Neo4j has a very interesting data model and architecture.
- No SQL database architectures and management (Cassandra and

[2016-07-07 00:37] conquista123 commented on #2
Hey all,

I am Louis, a rising junior at Cornell University studying computer science. This summer I am working as a data science intern at Comcast doing sentiment analysis and topic modeling user feedback data. I have experience with machine learning as well as web development experience.

I am pretty excited to see what I can contribute to this project over the summer!

[2016-07-07 01:15] bmcgeehan commented on #2
Hello Everyone,

I am Brendan, and I recently graduated from Temple with a Masters in Statistics. I have knowledge of machine learning, NLP, and statistics using mostly R and Python. I also have experience with some data visualization. I look forward to contributing and would really love to learn about areas other than ML, such as web development and database management.

[2016-07-07 03:34] dcgoss commented on #3
On a more technical note, I know Google Cloud has some really excellent machine learning offerings. It seems [Google Genomics](https://cloud.google.com/genomics/) and [Google Cloud Machine Learning](https://cloud.google.com/ml/) may come in handy for infrastructure and data.

[2016-07-07 03:35] dcgoss opened #4 "Technical Ideas"
I know [Google Cloud](https://cloud.google.com) has some really excellent machine learning offerings. It seems [Google Genomics](https://cloud.google.com/genomics/) and [Google Cloud Machine Learning](https://cloud.google.com/ml/) may come in handy for infrastructure and data.

[2016-07-07 04:15] awm33 commented on #4
Google Cloud Platform is an excellent and I really like BigQuery. The project should probably stick to non-proprietary technology, someone should be able to run this entirely on their own servers if they need to. Some Google technology like Tensor Flow and Apache Beam (Dataflow) are open source. They also offer hosted Hadoop and Spark, so does AWS.

[2016-07-07 04:23] dcgoss commented on #4
Agreed, and I can also vouch for Google Cloud.  I think hosted services are fine for us, provided that the underlying service is open source. One of the key points of Google Cloud ML is its basically just hosted TensorFlow - you could do the same things it does, but GCML just does it for you on their own managed infrastructure.

[2016-07-07 04:39] dcgoss commented on #4
On the backend it looks like we're going to need a web tier (Django?), a RDBMS tier (Postgres?), and a machine learning/data processing tier (need to figure out what types of models we need; Tensorflow? SKLearn?). Planning for scalability (load balancing, automated provisioning, docker?) from the start is prudent, but that piece doesn't need to actually be in place until it's needed and the rest o

[2016-07-07 05:00] awm33 commented on #4
I assume the lab team wants to create a single django app. Given the complex data backend, it could benefit from a microservice architecture, but that may be too complex for this project

I would place a job management system between the app and the data cluster management system (Hadoop, Spark, Tensorflow, etc). I've used a bunch of different kinds, but a MySQL/Postgres table plus queue (like SQS

[2016-07-07 05:11] dcgoss commented on #4
More ideas for job/task management: celery, gearman, rabbitmq

[2016-07-07 12:10] cgreene commented on #4
We have used celery & rabbitmq in the past with django servers and it worked well.

I'd also love to see things containerized with Docker to facilitate deployment.

[2016-07-07 13:09] gwaybio commented on #3
Hi @awm33, thanks for the suggestions and summary! I agree that we'll definitely need to guide a new user by providing several use cases as examples of how Cognoma can work. To answer a few of your points.

Exactly!

For all cases the user would ONLY need to input the _gene list_. The _sample mutation status matrix_ would be generated by Cognoma and refers to the corresponding samples in the gene

[2016-07-07 18:08] dhimmel commented on #1
The results of [the poll](https://twitter.com/dhimmel/status/750716159973003264) are in:

cognoma.org was the clear favorite. @cgreene can you coordinate the namecheap domain transfer/reimbursement with @dcgoss?

[2016-07-07 18:57] dhimmel opened #5 "Designing the software architecture for Project Cognoma"
In #4 we've discussed some technical ideas and software tools. Here let's discuss the architecture of the
Project Cognoma software stack. We came up with the following diagram:

![cognoma](https://cloud.githubusercontent.com/assets/1117703/16665552/0ea33e00-4452-11e6-8740-ee48422c3a94.png)

You can modify the diagram by downloading [`cognoma.xml.txt`](https://github.com/cognoma/cognoma/files/35285

[2016-07-07 19:22] aelkner commented on #2
Hi,

My name is Alan Elkner, and I'm a full stack, Python/Django developer.  I don't have any experience with machine learning, but I look forward to learning about that with this project.  In the meantime, I'll work on getting the django part of this project going.

Looking forward to seeing everyone at the DataPhilly events!

[2016-07-07 19:24] awm33 commented on #5
@dhimmel Why MongoDB for storing results?

[2016-07-07 19:33] dhimmel commented on #5
We were thinking MongoDB rather than a relational database to give us more flexibility. Basically, we may want to add additional machine learning output fields in the future and thought it would be easier to build tolerance for missing fields into the results viewer than to have to migrate a database. Additionally, we may have some machine learning output that's simpler to store as JSON rather tha

[2016-07-07 19:44] awm33 commented on #5
@dhimmel Postgres can store JSON and has powerful query capability there. You can also do things like add schema to high level fields that are common and use JSON only for the differences. You would also be managing one less data storage technology.

[2016-07-07 19:46] cgreene commented on #5
@awm33 That's pretty cool! Looks like django support in 1.9: https://docs.djangoproject.com/en/1.9/ref/contrib/postgres/fields/#jsonfield

[2016-07-07 19:55] awm33 commented on #4
I've written two task queues / management services, work with another one at my company, and I've used a few other open source ones. The service I wrote and use now exposes a restful interface. Been thinking of open sourcing it or writing one for open source. The UI, code queuing tasks, and workers hit the REST interface directly.

I would say having a SQL table for job reporting has been incredib

[2016-07-07 20:00] cgreene commented on #4
@awm33 Exactly - we have had the job responsible for those aspects. It sounds like you have much more recent experience in the area though - can you sketch out what you are thinking for this part either from scratch or starting from @dhimmel's draw.io? We'd love to take advantage of your experience with this to avoid making decisions we regret later!

[2016-07-08 03:47] awm33 commented on #5
Following up from @cgreene 's comment in https://github.com/cognoma/cognoma/issues/4

I've worked a lot on automated job/task management systems. Here's a proposal for a task service based on ones I've written and worked with. I'm calling it a service, but it could live within the main django app, or be separate service. I'm also willing to make this a contribution :)

![cognoma xml](https://cloud

[2016-07-08 03:51] awm33 commented on #5
Since it looks like you want to expose the backend as a REST API, I would recommend writing the API as if you plan to make it public at some point. As in usable by other systems or UIs. Even if that never happens, it forces you to make better decisions. I used Flask once, but it looks like there is a nice django REST framework http://www.django-rest-framework.org/

I'm also wondering what you guys

[2016-07-08 07:11] dcgoss commented on #5
Django Rest Framework is fantastic and I would strongly recommend it for a Django API.

[2016-07-08 11:07] cgreene commented on #5
@awm33: This sounds great! I'd hope to make the API public along with the web app. We have some Angular experience within the lab, but I'd be comfortable with either (React, Angular) based on where we have the most strength based on contributors.

@dcgoss: That's the second item of high praise I've heard for django-rest-framework. Sounds like a great way to go!

[2016-07-08 13:07] jeffrey-phillips commented on #2
Hi folks,

My name is Jeff Phillips, and I'm a postdoctoral researcher at Penn studying brain imaging and biomarkers in dementia patients. My coding abilities lie mainly in R, MATLAB, and a bit of Python. I'm happy to help out wherever I can be of use, which would probably be closer to issues involving the data itself, machine learning, and data visualization. From the project description, it does

[2016-07-08 14:39] swbiggs4 commented on #2
My name is Sean Grullon and I'm a data scientist with IBM Watson Health. My background (PhD) is in particle physics - my interests are in machine learning and statistical modeling. My preferred language is python generally, but have experience in Java, R, and C++, with a very small dash of JS. I have experience in MongoDB and PostgreSQL, would love to get involved and help when I can.

[2016-07-08 18:36] dhimmel opened #8 "2016-07-08 Project Updates"
This message was emailed to [survey](https://docs.google.com/forms/d/1xJoyzhcAJPt7IWDU-gCIjxym48lF47_YAClc1pb61DQ0) respondents. I'm cross-posting it here for those who weren't on that list.

---

Greetings,

Thanks for your interest as Project Cognoma gets off the ground. We have several updates following our July 5 meetup:
1. The project is on [now on GitHub](https://github.com/cognoma/cognoma).

[2016-07-08 18:59] brilance commented on #2
My name is Bri Lance, and in the fall I am starting a masters program in Biomedical Engineering at Drexel, concentrating in bioinformatics.  Until recently, I worked as a full stack web developer.  I mostly have experience in Java-family languages and JS, but I am very interested in working with Python.  I also have experience with interaction design and data visualization.  I am open to working w

[2016-07-08 19:06] mp8 commented on #2
Hi I am Madhur. I am a Research Assistant at Thomas Jefferson University in Bioinformatics working with Dr Raj. My previous affiliations are CHOP and Drexel.

We are working on visualising and analysis method for deferentially expressed time series genes and uses some in-house tools. I work mostly with R, cytoscape and have other scripting experience with many languages.

[2016-07-08 19:30] szajic commented on #2
Hi, I'm Stefan Zajic. I'm a research scientist at the Coriell Institute in Camden, NJ working on quantitative genomics and personalized medicine. I have a scientific background in drug development, drug metabolism, mathematical modeling, and in grad school I worked on protein engineering in a molecular biology lab. I use R and have used other tools such as Matlab, Mathematica and NONMEM in the pas

[2016-07-08 22:40] mydpy commented on #5
A few data questions:
1. What is the expected volume for each data store? (reads/writes per time grain)
2. How are we storing results from the ML engine? Do you imagine serialized JSON blobs, or something else?
3. Is it out-of-scope to discuss ingesting Cancer data in this model? Are you getting data from sources in real-time or are we pre-processing existing data stores?

[2016-07-09 13:37] danrieman commented on #2
Hi everyone, I'm Dan Rieman.  I work with the World Well Being Project at Penn as a research programmer.  My background is in machine learning and statistics.  Most of my work is done in Python, R, and MySQL, but I'm looking forward to learning new tools and contributing where I can!

[2016-07-09 16:16] cgreene commented on #5
1. Depends a bit on usage.
2. My inclination is JSON that the results viewer loads, but I am not strongly tied to that.
3. We will need to ingest data - it probably won't be in real time (the resources we are using are updated with only modest frequency).

Thanks!
Casey

[2016-07-10 21:15] awm33 opened #9 "Task Queue Manager"
Based on some previous disussion in https://github.com/cognoma/cognoma/issues/4 and https://github.com/cognoma/cognoma/issues/5 I'm opening up an issue specifically for the task queue / management.

I think it would make sense to make it a separate repository within the cognoma org.

I've used a bunch of other open source job queues over the past few and they all had issues. After some colleagues

[2016-07-11 03:05] cgreene commented on #9
"Is the main Cognoma instance run by the Greenelab going to be on a cloud platform? Like AWS or Google Cloud Platform. Then that platforms queue service may be ideal as a first option." -> Yes. We don't have physical hardware for it. It will almost certainly one of those two providers. If we can keep it vendor agnostic that would be ideal, but I understand if we gain substantial time by selecting

[2016-07-11 03:29] awm33 commented on #9
@cgreene Cool. I think keeping an abstraction interface can help keep it vendor agnostic, even if we only have one interface implementation to start.

The pros to having it be it's on django app would be that it could scale and fail independently of the django app powering the frontend and core data models. To start, it could be run on the same server under a different port. It also sounds like yo

[2016-07-11 13:11] ghost commented on #2
Hi, My name is Ramya. I recently graduated from Penn State University with a MS. I worked with ranking model based on sentiment analysis of public opinions of top universities and worked with Data mining projects. I have coded using R, Python and MYSQL. I am acquiring skills in Machine Learning (Coursera) & Spark (edx) and look forward to contributing!

[2016-07-12 01:08] allaway commented on #2
Hi there,

I'm Robert Allaway, a PhD candidate in Yolanda Sanchez' lab at Dartmouth College. I'm currently a bench scientist/cancer biologist studying tumors related to neurofibromatosis type 1 and RAS dysregulation. Long term, I plan to delve into computational modeling of cancer but for now I am more or less naïve. I was looped into the project by @cgreene and @gwaygenomics to provide some poten

[2016-07-12 01:53] tantanchen commented on #2
Hey,

My name is Tan. I am a consultant in the sales compensation industry at Optymyze. I've started learning data science on Coursera, and I'm quite comfortable with R. At work I use a software that is PL/SQL based. I also have experience with various BI tools and visualizations (Business Objects, Logi, shiny). I'm looking forward to learning new things and helping out where I can.

[2016-07-12 02:04] tantanchen commented on #5
My limited understanding of ML is that the algorithms take a while to run, but once a model is complete, it is very quick to use in predictions. So what languages will we use to train the models? and how will we store the models?

[2016-07-12 11:50] allaway opened #11 "Use case from cancer biologist"
Issue #3 was getting cluttered so I started a new one for a new use case at @gwaygenomics recommendation. I'm following the format from the first couple of posts there.

Our lab is extremely interested in the maintenance of mitochondria. Some tumor types exhibit greatly increased rates of mitochondrial turnover (i.e. degradation of defective mitochondria, mitophagy). We hypothesize that inhibition

[2016-07-12 14:09] dhimmel commented on #5
Yes, a simple but important insight -- training a model can be laborious, but applying the model for predictions is usually fast! The one caveat is that often computational time is not the bottleneck. Rather human time troubleshooting models, exploring data, and refining the setup takes the bulk of the time. Hopefully, we can find a setup that produces decent models for the domain we're modeling.

[2016-07-12 14:12] allaway commented on #11
One more potential use case that differs slightly in input/output from the last. Let me know if this is within the scope of this project:

I have a list of genes in which loss or gain of function appears to be highly associated with the formation of glioblastoma. I'd like to generate a classifier that identifies tumors with this mutation profile and then find other tumor types that have this profi

[2016-07-12 15:15] Inquisitive-Geek commented on #2
Hi there,

My name is Roshan. I am an intern in the Big Data Analytics team at SAP. I know R, Python, SQL and D3.js . I have worked with scikit-learn before and hence I am comfortable in handling the machine learning part.

[2016-07-12 15:17] dhimmel commented on #9
@awm33, yeah I think it would be great to use Docker containers. One aspect of the project is letting our contributors learn technologies that will be important in the future. Docker, I believe, will be.

I created [`cognoma/task-service`](https://github.com/cognoma/task-service) and appointed you as a maintainer on that repo. It's currently empty, so you can add a README/repo description. Do as y

[2016-07-12 16:27] dcgoss commented on #9
+1 for Docker, it's great

[2016-07-12 18:01] gwaybio commented on #11
@allaway that sounds awesome, and it will be great to get feedback from our intended audience/user base throughout design.

This type of query is definitely interesting and we could develop some advanced options that could handle it. Even potentially adding in [copy number](https://en.wikipedia.org/wiki/Copy-number_variation) data when the user doesn't necessarily care how gene activity is lost.

[2016-07-12 19:01] brankaj commented on #2
Hi all,
I am Branka, a PhD student at Villanova University. I work mostly with radar signals and their representations. The final objective of my thesis is to classify human motions using radars. Last year I have started using deep learning methods to classify our data and the results were more than promising.
I mainly use Matlab, but I have started learning more about Python. I could help with th

[2016-07-12 20:01] zfanelle commented on #5
Hey guys, great ideas above. I have some ideas as well.

I am unfamiliar with the type of data we will be storing in the Mongodb database. Do we have a sample data model entry? I would recommend staying the in relational world if we have to (for cleaner, more enforceable data).

I would recommend Mongodb if we:
- Require a schema-less data model (Having a stricter relational model will help us kee

[2016-07-13 04:53] awm33 opened #12 "Frontend Technology"
Did the frontend team agree on a frontend tech stack?

The backend is being designed as a rest API, so I assume a single page app? Angular? React?

I use Angular 1.x at work and have used it for personal projects. If you all want to use it, I can help people get started if they'd like.

Also, assuming some frontend javascript framework is powering it, what would serve up that static content? Djang

[2016-07-13 13:36] clairemcleod opened #13 "An introduction to gene expression and RNA sequencing"
At the meeting last night, several people were interested in learning more about the biology underlying gene expression and RNA sequencing. The following links provide an introduction to these topics, and may be of interest.

[Wikipedia - Gene Expression](https://en.wikipedia.org/wiki/Gene_expression)
[Wikipedia - RNAseq](https://en.wikipedia.org/wiki/RNA-Seq)

RNA molecules are sometimes called t

[2016-07-13 14:02] tkhunkhe opened #14 "link to access the data?"
Can someone tell me where to find the link to access the data please? I can't recall where we have it. Thanks!

[2016-07-13 14:05] #8 closed, assigned to nobody

[2016-07-13 15:13] mp8 commented on #14
https://zenodo.org/record/56735/files/gbm_classifier_data.tar.gz

[2016-07-13 15:17] gwaybio commented on #14
Hi @tkhunkhe Here is the [database](https://genome-cancer.ucsc.edu/proj/site/xena/datapages/?cohort=TCGA%20Pan-Cancer%20%28PANCAN%29)

From this database, I use the following files

[code]

I have also noticed some issues regarding version control in [UCSC Xena](http://xena.ucsc.edu/). Specifically, files that I have worked with in the past have changed pretty dramatically. @dhimmel is working on

[2016-07-13 15:31] gwaybio opened #15 "Learning Resources for the Uninitiated"
Thanks @clairemcleod for the RNA sequencing introduction in #13! There was interest at the meetup yesterday (slides are [here](https://slides.com/dhimmel/cognomathon/)) to provide a list of resources for people to become familiarized with some of the material outside their domain of expertise. I will list some here.
### Machine Learning

[Hello World for ML](https://www.youtube.com/watch?v=cKxRvEZ

[2016-07-13 18:19] yl565 commented on #2
Hi all,

I am Yichuan,  a PHD student from Drexel University. I've been working on applying machine learning to predict human workload from brain signals for my dissertation. I'm mainly using Python for my work now and also skilled in MATLAB. I'm looking forward to learn more and contribute to this project!

[2016-07-14 01:43] awm33 commented on #15
I can cover some buzz words we use.

#### REST API

A web APIs (aka API, HTTP API, web service) are what allows computers to talk to each other, from servers across a data center to servers across the world, even the web browser you are using to view this comment. Representational state transfer (REST, aka a REST API) is one way to design such a web API, and currently a very popular one.

[Beginne

[2016-07-14 11:43] cgreene commented on #12
We use Angular 1.X in our lab, so this would make it easier for our group to maintain this. Unless there is a strong reason to choose another technology I'd lean towards Angular 1.X or 2.X (only if 2.X is more valuable from a learning point of view though).

@awm33's description of nginx serves static & forwards /api/ to REST is our preferred setup. I like the idea of also using nginx to forward t

[2016-07-14 21:46] dhimmel commented on #14
# Preliminary data subsets

I created some preliminary subsets of the data. They derive from two datasets:
- `expression-matrix` is a sample × gene matrix indicating a gene's expression level for a given sample. This dataset will be the feature/X/predictor dataset for Project Cognoma.
- `mutation-matrix` is a sample × gene matrix indicating whether a gene is mutated for a given sample. Select colu

[2016-07-15 18:26] dhimmel commented on #14
I [posted the full datasets](https://doi.org/10.6084/m9.figshare.3487685.v2) to figshare. You can download them from their and begin playing around with machine learning.

[2016-07-15 21:14] jtbergeron commented on #2
I am John Bergeron.  I an a veteran IT guy with 35+ years of experience in applications development, service delivery, and resource management.  While I have worked with data all my adult live I am new to data science and have just started the Coursera Data Science Specialty.  My goal is to become a data engineer.

While I am not yet hip to Python I do have a lot of infrastructure and design exper

[2016-07-16 00:00] awm33 commented on #9
This had been branched off into https://github.com/cognoma/task-service plus submit task management issues there

[2016-07-16 00:00] #9 closed, assigned to nobody

[2016-07-16 00:35] awm33 opened #17 "Data Processing Requirements"
I'd like to get an idea of what, at least initially, the data processing requirements are for cognoma.

Here's some questions I think we'll need to answer. Let's discuss here.

How "big" is the data? Number of rows, columns, and bytes?

Can a classifier search run on a single multicore machine?
- It looks like scikit-learn has some multithreading ability http://scikit-learn.org/stable/developers/p

[2016-07-16 20:20] dhimmel commented on #17
I posted the [preliminary datasets](https://doi.org/10.6084/m9.figshare.3487685.v2) created by dhimmel/cancer-data@ffe66ab26000379adcd7138b8ff39920d4692ef1. Both datasets are sample × gene matrices, with one containing mutation status (for constructing `y`) and the other containing expression (for `x`). The datasets contain 7,706 samples (rows). The expression data contains 20,501 genes (columns)

[2016-07-16 21:30] awm33 commented on #17
@dhimmel  So you have a wide tables, but few rows.

This is a preliminary set? Will it be expanded beyond the initial 7,706 samples? If it stays relatively small, say under 100k samples, I think files could work.

I assume that any one classifier search would only select 2-25ish genes? Or at least that's what I've heard for the frontend. Then you're really only selecting a very small subset of tho

[2016-07-16 22:31] dhimmel commented on #17
I don't expect the sample number to grow substantially. @gwaygenomics, is TCGA still collecting data and expanding?

The classifier will train itself on many genes (often the full set of 20,501). Depending on the algorithm, the resulting model may only actually use a small number of genes. The machine learning portion of the project will need to take large subsets of the expression matrix. As far

[2016-07-16 22:44] gwaybio commented on #17
TCGA has completed sample collection but more data will be made public eventually. The updated data will include more complete mutation calls, more in depth clinical information, and a complete gene expression matrix. I think it should end up at around 15,000 total samples.

We're working on the cutting edge of cancer genomic data right now with these sets, but cognoma should be flexible enough to

[2016-07-16 23:56] awm33 commented on #17
Ok, assuming it's a somewhat linear trend, the dataset will end up being ~3GB.

@dhimmel Yeah, I've never done multithreading in python and the two people I've discussed it with were like "if you need multithreading, don't use python". I think I'll miss how easy Clojure makes threading/concurrency.

But you could still use the caching approach if a process would only be executing one task, but it

[2016-07-17 01:11] awm33 commented on #17
If we're using python 3, https://docs.python.org/3/library/multiprocessing.html looks promising "effectively side-stepping the Global Interpreter Lock by using subprocesses instead of threads"

[2016-07-17 01:27] dhimmel commented on #17
For applications that are job/task based, [`concurrent.futures`](https://docs.python.org/3/library/concurrent.futures.html) is my favorite method for parallelism in Python. You can use the same API but choose between a backend of `multiprocessing` or `threading`.

Multiprocessing escapes the Global Interpreter Lock, but has to pickle (serialize) all data being sent to the subprocess. This will cau

[2016-07-17 01:47] awm33 commented on #17
concurrent.futures looks neat. concurrent.futures and/or multiprocessing could be a way for a daemon process to manage per task child processes.

Yeah, doesn't look like there is an easy way to share large amounts of data cross thread/process. In-memory cache may be a premature optimization anyway.

Numpy uses libblas and liblapack. If pandas can tap into those through numpy, it should have good m

[2016-07-18 13:17] ghost opened #18 "Galaxy Project Extensions versus entire seperate project"
I took a look at your project flowchart. Are you familiar with the Galaxy Project? Seems like it implements almost exactly this and has a pretty substantial buy in from various biology projects.

Galaxy allows users to upload samples, and run it through various scientific processes, then returns results which can be part of complicated pipelines etc.

Galaxy allows developers of scientific softwar

[2016-07-18 13:56] cgreene commented on #18
@mutantturkey I'm familiar with Galaxy, but I think it targets a different audience. It's generally used for complicated sequencing pipelines. It's pretty good at piping files through executables, but I haven't previously seen it used for this type of project. The instances of it that I've seen are also more targeted someone with peripheral familiarity with comp bio/bioinformatics tools, as oppose

[2016-07-18 14:40] ghost commented on #18
I'm less familiar with machine learning than I'd like to be, but bioinformatics at it's core is data analysis. I don't have any concrete examples of machine learning with galaxy , but I have developed a few  tools for galaxy from my own 16s sequence projects.

I think that more of an extension to Galaxy, one that handles the relevant data types, has basic tools for the project could allow the proj

[2016-07-18 16:23] cgreene commented on #18
@mutantturkey After some poking around that instance, it looks like Galaxy solves a slightly different problem for a very different audience. I'd be happy to look at some examples with you though if you find places where the functionality & audience are very close to what we're doing.

[2016-07-18 20:48] martenson commented on #18
@cgreene From my @galaxyproject dev perspective this symbiosis could work and prove beneficial - however I am no machine learning/cancer specialist so there might be obstacles I do not see. Luckily an expert for using Galaxy in cancer research settings is Jeremy Goecks @jgoecks (https://cbi.gwu.edu/jeremy-goecks). Jeremy would you please find some time to evaluate the possibilities here?

[2016-07-18 20:53] leobiscassi commented on #18
Hi everyone,
some galaxy tools implements machine learning algorithms by scikit learn wrappers [1] and some ideas about machine learning can be find in this discussion [2]. I don't know if helps with this project purpose, but can be a begin discussion about this theme. Let me know if I can help in something! :)

[1] [https://github.com/bgruening/galaxytools/tree/master/tools/sklearn](https://githu

[2016-07-18 21:46] cgreene commented on #18
I am aware that galaxy can be used as a wrapper for ML analyses. As I understand it, galaxy is a workflow manager can be used wherever one could put a series of functions/scripts/executables together.

Galaxy seems to hit a very different target audience than our project. I'm happy that you are enthusiastic about the project and hope that you will use your expertise to pitch in where you can. If t

[2016-07-19 00:35] martenson commented on #18
@cgreene to my understanding the specific opportunities to use Galaxy are in the following areas:
![cognoma_cognoma__putting_machine_learning_in_the_hands_of_cancer_biologists](https://cloud.githubusercontent.com/assets/1814954/16934583/8e04e2d0-4d25-11e6-89ed-2f394a64696d.png)
It would need bigger discussion(call) to pinpoint this precisely.

And of course there is no problem in refusing this as

[2016-07-19 01:06] ramabin commented on #2
I am Ramaa Nathan. I have worked with data for many years in different industries. I am familiar with python, pandas, and R. I am now interested in doing some machine learning projects. I look forward to learning and contributing to this project.

[2016-07-19 01:44] gwaybio commented on #18
It looks like [galaxy](https://github.com/galaxyproject) is a nice one-stop shop for biologists to analyze large datasets. This intersects with one of our goals: **Putting machine learning in the hands of cancer biologists** (see our tagline!).

It also appears that [Galaxy](https://usegalaxy.org/) is primarily focused on next gen DNA sequencing, highlighting tools like SAMtools, Bamtools, Picard,

[2016-07-19 08:21] bgruening commented on #18
Nice project! Just my opinion because we are developing a Machine Learning extension for Galaxy here: https://github.com/bgruening/galaxytools (e.g. https://github.com/bgruening/galaxytools/tree/master/tools/sklearn). Thanks @leobiscassi for mentioning this small project!

I don't think Galaxy has one target audience today. There are many different ones. Galaxy is a framework and you should treat

[2016-07-19 12:10] cgreene commented on #18
@bgruening @martenson : We all agree that Galaxy is a flexible system and that it _could_ be used in place of essentially any framework. The Galaxy framework is much heavier weight than the django rest framework highlighted by @martenson. Many of the features of Galaxy's back end (flexiblity with data types, management of files through multi-executable workflows) are not relevant to this system.

[2016-07-19 12:26] cgreene commented on #18
The galaxy-dev mailing list has a discussion on this topic as well that was posted by @mutantturkey :
http://dev.list.galaxyproject.org/cognoma-td4669691.html

I attempted to reply but my comment is awaiting moderator approval:

[2016-07-19 15:03] martenson commented on #18
@cgreene Approved. You can now post freely to that list.

[2016-07-19 16:03] dhimmel commented on #18
Can anyone point to any existing webapps using Galaxy? We're going for a highly customized and user-friendly interface.

What's the link to the refinery project?

[2016-07-19 16:14] bgruening commented on #18
@dhimmel I think user-friendly is hard to define but here are two nice examples:
- http://www.refinery-platform.org
- http://rnaseq.pathogenportal.org

You will probably find many more on https://wiki.galaxyproject.org/PublicGalaxyServers
Moreover [Tripal](http://gmod.org/wiki/Tripal) is not really a interface for Galaxy but there is also a Galaxy plugin so that you can start certain jobs from Tri

[2016-07-19 22:49] ramjac-zz commented on #2
I'm Grady Fields. I'm a software engineering consultant and most of my work is with websites or apis. My deepest experience is with JavaScript/HTML/CSS and C#, but I am comfortable with any language.

[2016-07-19 22:56] bevinahally commented on #2
Hello All,

I'm Ananth, and I'm a quantitative analyst at a startup. I spend my days dabbling with data, starting with ETL all the way to building predictive models to empower decision-making for various stakeholders. I am a 2015 grad from Drexel University, with a background in economics  and mathematics, and I look forward to learning from our collective experience!

Regards,
Ananth

[2016-07-19 23:18] milorddev commented on #2
Hello,

My name is Michael, I recently graduated from Drexel University in Biological Sciences, and I passionate about software development and computer science techniques. I am most comfortable with C++ and Python, as well as the general HTML, CSS, Javascript, and PHP. I have plenty of experience in game development, especially with Unreal Engine, and have my own tutorial series on YouTube: https

[2016-07-19 23:46] mhuyck commented on #2
Greetings!

My name is Matt. Although I don't live in Philadelphia, I work as a remote employee of University of Pennsylvania for the Greene Lab and there are just no opportunities like this for community collaborative science in Hanover, NH. I am enthusiastic about helping out wherever I can. It appears that my background with front-end development will be most useful to this project, so I have j

[2016-07-19 23:48] laquereric opened #19 "Appended pseudo-random columns to be generated by analysis team"
Facility provided to create a pseudo-random column entry for each row of the dataset. Multiple random values per row should be possible.

RandomValue = f(row#,KEYn)

[2016-07-20 00:15] laquereric opened #20 "Consider using formal semantic techniques to form 'cross walk' from biology to machine-learning"
See the attached:

https://userpages.uni-koblenz.de/~staab/Research/Events/ICML05tutorial/icml05tutorial.pdf

[2016-07-20 00:24] stevmoli commented on #5
Hey, could somebody please give me some clarification: am I correct in thinking that the Postgres Database is going to be used for storing a table of jobs/tasks queued by the users?  Thanks!

[2016-07-20 02:00] awm33 commented on #5
@stevmoli Yes :) Here is the repo containing those models https://github.com/cognoma/task-service

[2016-07-20 03:16] Ramaa-Nathan commented on #2
I am Ramaa Nathan, I am interested in both the Data Processing and Machine Learning components of this project. I have worked for many years with processing and analyzing data in different industries. I am currently a project manager in a healthcare data analytics firm. Here, I am very happy to be part of this project - learn a lot and contribute what little I know.

[2016-07-20 03:18] ejsegall commented on #2
Hi,

I'm Ed Segall. I currently work as a senior research engineer in warehouse telematics. Prior to that, I was a software and systems engineering consultant on a variety of cool products including a freight rail yard control system (I developed an all-new yard tuning system that's currently being deployed for all Union Pacific freight classification yards) and an emergency cellphone geolocation

[2016-07-20 16:48] gwaybio opened #21 "Cognoma Logo"
I don't like looking at the bland/blank icon for the cognoma github organization. Anyone creative want to design a logo?

[2016-07-20 21:32] dhimmel commented on #21
Yes, we'll need a logo for the GitHub organization and website. We'll also need a favicon. Perhaps the same person wants to design both?

It would also be great if the logo could start as a vector image (SVG perhaps) that we could export to whatever needed resolution.

[2016-07-21 17:36] FadiAlnabolsi commented on #2
Hi! My name is Fadi Alnabolsi, i'm a fullstack dev at Service.com. Our stack is Django/Python/Angular

Machine Learning is one of the areas I really want to dive into. I also want the work that I do to benefit people in some way. I heard of this from DjangoCon and I'd really like to help out and learn.

[2016-07-21 19:03] Suberri commented on #2
Greetings!
My name is Moshe Suberri. I have a CS and Math degree from Tel-Aviv university. I am an experienced software engineer and system architect. I have done lots of complex system development from the ground up using in Python, C++,C and other tools. I have in depth experience is deveops and CI/CD automation.

[2016-07-21 21:24] tkhunkhe commented on #21
Uh, obviously my artistic skill is terrible. But here is some idea throwing in there.  :D Please feel free to take the idea and make it better somehow (because I don't how, haha)
![logo](https://cloud.githubusercontent.com/assets/10778112/17039265/97f4abba-4f67-11e6-9ba8-d9d552c596fd.jpg)

[2016-07-22 20:58] cgreene commented on #1
Thanks @dcgoss! Send along receipt and we'll figure out reimbursement!

[2016-07-22 20:58] #1 closed, assigned to nobody

[2016-07-23 02:11] dcgoss commented on #1
No need for reimbursement - it's my gift to science! :)

[2016-07-26 16:54] cgreene commented on #1
http://cognoma.org lives! Thanks @dcgoss! Repo at http://github.com/cognoma/cognoma.github.io if someone wants to update it :)

[2016-07-26 17:08] dhimmel commented on #21
@cgreene can you make this the organization photo (maybe crop it to be more zoomed in).

We can let others make submissions as well, and then vote which we like best. But until then, I think we should use @tkhunkhe's logo!

[2016-07-26 17:34] cgreene commented on #21
@dhimmel Done!

[2016-07-26 18:48] dhimmel commented on #18
I'm not convinced Galaxy is what we need. For now I'm going to close this issue. If individuals at our meetup or other Project Cognoma contributors would like to explore Galaxy, we'll support them and reopen this issue. Thanks everyone for the feedback.

[2016-07-26 18:48] #18 closed, assigned to nobody

[2016-07-26 23:35] beccanock commented on #2
Hi! I'm Becca Nock. I'm a PhD student at UPenn in the School of Nursing, where I study Nursing Informatics. I use mainly electronic health record and insurance claims data, and I am looking forward to learning more about bioinformatics. I am a registered nurse, and I have been learning Python and Django for a little over a year.

[2016-07-27 00:46] stevmoli commented on #5
Awesome, thanks for the clarification!

[2016-07-27 01:42] dhimmel opened #23 "July 19–26 Project Cognoma Acknowledgements"
Here is the list of contributions over the past week that I highlighted at [tonight's meetup](https://www.meetup.com/DataPhilly/events/232785717/).
## [`cognoma/cognoma`](https://github.com/cognoma/cognoma)

Now up to 40 introductions on https://github.com/cognoma/cognoma/issues/2.

@tkhunkhe made a project logo. See https://github.com/cognoma/cognoma/issues/21#issuecomment-234388780. We're still

[2016-07-27 01:56] gwaybio commented on #13
Here is an [MIT Open Courseware Lecture](http://ocw.mit.edu/courses/biology/7-91j-foundations-of-computational-and-systems-biology-spring-2014/video-lectures/lecture-8-rna-sequence-analysis-expression-isoforms/) on RNAseq analysis - in case anyone is interested!

[2016-07-27 03:53] sameertipnis commented on #2
Hi my name is Sam,  I am a python developer and I have done some projects in area of Machine learning and I am looking forward to meaningfully contribute to Cognoma Project.

[2016-07-27 06:00] dcgoss commented on #23
This is great, thanks for the effort👍

[2016-07-27 19:01] VijYadav commented on #2
Hi, My name is Vijay Yadav and I am a technology enthusiast. I have been developing machine learning  algorithms using R to solve business problems related with Chargeback processing for medical device industry. Originally from a strong Computer Science and statistical background, I spent my early career building various intelligence tools and IT solutions using a wide range of technology platform

[2016-07-28 15:56] tkhunkhe commented on #21
![image](https://cloud.githubusercontent.com/assets/10778112/17219552/c1948164-54b9-11e6-901b-b13026d1d763.png)
a favicon. Ugh, I don't know how to upload this, but here is the link to the file.
[link to favicon.ico file](https://github.com/tkhunkhe/cognoma/blob/master/favicon.ico)

[2016-07-29 01:30] stephenshank commented on #21
Submitted a (very simple) [pull request](https://github.com/cognoma/cognoma.github.io/pull/1) for this, as well as a [video explaining it](https://www.youtube.com/watch?v=oKlW_dSUrb8&feature=youtu.be) that will hopefully be instructive for people wanting to submit pull requests on their own. @dhimmel can you point to any front end people who can review the PR? @tkhunkhe would you be willing to pro

[2016-07-29 19:06] tkhunkhe commented on #21
@stephenshank The [video](https://www.youtube.com/watch?v=oKlW_dSUrb8&feature=youtu.be) was very helpful! Especially the last two minutes, I was able to follow along and understand the picture of what is going on. I I like the energy too 😄 👍  Thanks!

[2016-08-01 17:30] dhimmel commented on #21
I merged https://github.com/cognoma/cognoma.github.io/pull/1. Awesome work with the video!

We'll keep this issue open in case anyone wants to submit additional designs. But for now we have some cool logos. Awesome work @tkhunkhe and @stephenshank.

[2016-08-02 15:05] tttrinter commented on #2
Hi everyone, my name is Tom Trinter and I work for [Ars Quanta](http://www.arsquanta.com), a data science advisory company. I have a good amount of experience in product management and software development and have been working hard to climb the data-science learning curve. Besides growing experience with Python and R, I work with brilliant people with many years of data science experience.

I'm e

[2016-08-03 02:45] ctipnis commented on #2
Hey everyone, my name is Curren and I am an undergraduate student at Georgia Tech majoring in Industrial Engineering: Operations Research and Computer Science. I have done projects in python and I have lab experience in bio/genetic engineering. I am super excited to meaningfully contribute to the Cognoma project in machine learning.

[2016-08-03 16:20] #23 closed, assigned to nobody

[2016-08-08 13:23] yigalron commented on #2
My name is Yigal Ron. I'm a computer science major and have been working for many years with healthcare IT startups. I'm interested in participating in the machine learning group to learn more about this area and see how it may help my clients in areas of medication management and patient care in general and help the cognoma project.

[2016-08-09 22:14] adccb commented on #2
i'm logan, i'm a web developer at a little consultancy in jersey, doing client work. primarily using PHP (i _need_ to get out of PHP), Ruby through Rails or Sinatra, HTML, CSS through SASS, JavaScript and various frameworks on the frontend. excited to meet y'all!

[2016-08-11 17:39] maxdml commented on #2
Hey there. I'm Max, a first year Ph.D student in computer science at Penn. My focus is on distributed systems, and using machine learning technique to optimize them. I can work with python, C, bash, puppet, scala, and some other languages from a previous life (e.g PHP, perl).

[2016-08-15 22:57] ghost commented on #2
Hi, I'm Dave.  I'd like to find out more about helping with the frontend part of this project.  I think I could help with the html/css/javascript.  I'm working on learning more server side development right now (mostly node.js and C#).

[2016-08-16 20:23] dhimmel commented on #20
@laquereric, can you explain more about what you mean? Are you saying you think incorporating knowledge from bioontologies would be helpful? How?

[2016-08-18 22:08] ncondo commented on #2
Hello Everyone,

My name is Nick. I recently graduated with a MS in Computer Science with a focus in machine learning. I also have experience in web dev using python, django, postgresql, and js. I look forward to contributing where I can.

[2016-08-27 21:00] brharrelldev commented on #2
My name is Brandon.   I have worked in the IT field for 15 years.   I have been going between the operations and development side of the house foe most of my career.  I would say I'm solid in both areas.

   I has a lot of Java experience but I love Python.  I also like databases with MySQL bei my favorite relational database and MongoDB being my favorite NOSQL DB.

  I have worked with large scal

[2016-09-06 22:34] Zedmor commented on #2
Hi. I am new here. In ML field I mean
Used to work in web (ran my small company selling and buying ads) couple of years ago started to learn ML (so I guess I am self taught).
So whatever I could be useful here - would gladly contribute EDA/ML, feature enginering - R/python (pandas, scikit - started to learn tensorflow).

So far I am just a beginner in this field do not be hard on me :)

[2016-09-07 00:14] George-Zipperlen commented on #2
Hi. My name is George Zipperlen.  I have 30 years programming experience in both systems and applications. I am new to data science, although I have written tools in the past to do things like identify the language a text document is written in. This was done in C, using bigram frequency analysis on a text corpus. I am now learning Python, Pandas, and scikit-learn.

[2016-09-14 17:23] dhimmel commented on #19
Closing. If this feature is still desired, please post the issue on the relevant team repository.

[2016-09-14 17:23] #19 closed, assigned to nobody

[2016-09-14 17:25] dhimmel commented on #14
The most recent data is available from https://doi.org/10.6084/m9.figshare.3487685.

This info is now available on the `cognoma/cancer-data` README, so will close this issue.

[2016-09-14 17:25] #14 closed, assigned to nobody

[2016-09-14 17:26] dhimmel commented on #12
Direct future discussion on this topic to https://github.com/cognoma/frontend/issues/3. Cheers!

[2016-09-14 17:26] #12 closed, assigned to nobody

[2016-09-14 17:28] dhimmel commented on #21
Closing since we have a logo. Thx @tkhunkhe. Can reopen if anyone signals interest.

[2016-09-14 17:28] #20 closed, assigned to nobody

[2016-09-14 17:29] dhimmel commented on #4
Closing as future discussion can be directed to specific team repositories.

[2016-09-14 17:29] #4 closed, assigned to nobody

[2016-09-16 18:29] bdolly commented on #2
Hi all,

I'm Ben Dolly a front-end developer/designer at 1 Trick Pony. I have a BFA in Graphic Design from the Savannah College of Art and Design and am a self taught front-end developer (html, css, js mvc). I have a passion for combining intuitive design with solid development to build great user experiences.

I hope to help out not only in maintaining the front-end of the product but also helpin

[2016-09-19 15:08] dhimmel opened #29 "Compute and display user contributions across all organization repos"
As mentioned by @cgreene in his review of https://github.com/cognoma/cognoma/pull/28:

In short, we want a way to automatically compile a list of all cognoma contributors. It would also be nice to measure the contribution per user. We could then embed this information in the README alongside "Maintainers" or in a separate document.

Hopefully we can find some utilities to help extract contribution

[2016-09-19 17:05] txnnxr commented on #2
Hello,
My name is Tanner, I'm a recent CS Grad from Arcadia University. I have focused most of time lately to honing some front-end dev skills and I hope to continue improving while being able to contribute to this project. My bread and butter is Html/Css/Js, I've also been getting comfortable with jade/sass/jquery/node. I've also been working on rounding out my skills with the mean stack so I hav

[2016-09-19 20:35] suchare commented on #2
I am Subash.I have been working in the analytics and business intelligence space for the past 14 years leading and implementing DW/BI initiatives on large scale distributed systems.I am new to the Machine learning space and hope to learn the same while adding value wherever I can.

[2016-09-29 18:31] dhimmel commented on #3
@gwaygenomics can you post your bullet points here from today's _why it matters_ slide?

[2016-09-29 19:07] dhimmel commented on #29
# GitHub API

The GitHub API may be a good way to start. Here are some useful queries:
- All Cognoma repos
  https://api.github.com/orgs/cognoma/repos
- List of contributors for a cognoma repo
  https://api.github.com/repos/cognoma/sandbox/stats/contributors
  https://api.github.com/repos/cognoma/sandbox/contributors

[2016-09-29 19:07] gwaybio commented on #3
# Here are two reasons why Cognoma matters
1. Often, single measurement of a gene/protein is insufficient
   - Antibodies may be sub-optimal
   - Mosaicism in cell populations may hinder sequencing
   - Low-throughput
   - Complex biology inactivates genes in complex ways
2. Inactivated genes can cause detectable system-wide downstream changes
   - Can tell us about the impact of the mutation
   -

[2016-10-03 19:04] dhimmel opened #34 "2016 Rocky Mountain Bioinformatics Conference Abstract"
I wrote an abstract, due later today, on Project Cognoma for the [Rocky Mountain Bioinformatics Conference](https://www.iscb.org/rocky2016-program/rocky2016-call-abstracts). Anyone who has contributed (though accepted pull requests) to a Cognoma repository other than sandbox is listed as an author. I based the author ordering on #33 / [`contrib/contributor-summary.tsv`](https://github.com/cognoma/

[2016-10-03 19:04] dhimmel commented on #34
@htcai & @mans2singh, you're currently identified by your GitHub username. If you would like me to use your name instead, respond here with the name you'd like me to use by 6:30 pm. However no pressure -- anonymous contributions are obviously welcome.

[2016-10-03 19:08] dhimmel commented on #34
Tagging all authors: @dhimmel, @gwaygenomics, @awm33, @aelkner, @yl565, @clairemcleod, @bdolly, @KarinSpiderwoman, @dcgoss, @keenleo, @BobMiller, @htcai, @mans2singh, @stephenshank, @NabeelSarwar, @brankaj, @cgreene.

If for some reason you would like not to be an author, please also let me know here or privately by 6:30 pm. I am planning to put all affiliations as the DataPhilly Meetup.

[2016-10-03 19:17] htcai commented on #34
Thanks, Daniel! Please use my name **Haitao Cai**. I am excited to be listed as a contributor.

[2016-10-03 19:17] isometricperiod commented on #2
I am Venkatesh, I am a network software engineer and a systems engineer.I write using Python and C. I am a recent grad from Northeastern University and just moved to Philly, I am new to both machine learning and Philadelphia.  I hope to learn and to be able to contribute. My learning curve would be steep but I am always up for a challenge. I look forward to meeting the group soon.

[2016-10-03 19:18] stephenshank commented on #34
Thanks so much Daniel!! I am also very excited to be included!

[2016-10-03 19:22] gwaybio commented on #34
Pumped about the progress on the work!

I think it is important to emphasize that this is a Presentation at a Bioinformatics Conference. Eventually we will be generating a publication so that we can publicize this work to our **Cancer Biologist** user base.

There is still plenty of time for people not listed to make important contributions!

[2016-10-03 19:30] cgreene commented on #34
Echoing the above comments :tada:! For this audience, describing the cognoma project, participation model, etc, are important. Let's keep our eyes on the overall goal of a server useful for and used by cancer biologists! :100:

[2016-10-03 20:02] beelze-b commented on #34
Same here. You can list me as Nabeel Sarwar.

[2016-10-03 20:11] brankaj commented on #34
Thank you for including me! It's a great idea to put DataPhilly as the affiliation. I am thrilled to be a part of this project and I hope I can contribute more.

[2016-10-03 22:03] dhimmel commented on #34
The submission deadline has been [extended to Friday](https://twitter.com/ProfLHunter/status/783038666855755777), so I'll hold off submitting until after tomorrow's meetup.

[2016-10-04 16:50] tylerkrug commented on #2
Hi everyone! I'm Tyler. I work for Arcadia University in a sales/marketing role, but I am pursuing a career in data analytics now. I learned how to code in SQL and Python this summer. I have plenty to learn, but I'm incredibly excited to be able to contribute to the project! My background was in music performance, but I've recently been taking an insane number of courses on coding, statistics, and

[2016-10-04 20:19] joeleden commented on #2
Hi, I'm Joel Eden. My background includes a B.S. in computer science and a PhD in information science (focused on human-computer interaction), both at Drexel. I have about 15 years experience working in the "human centered design" area, and I also worked at Lockheed Martin's Advanced Technology Labs leveraging ideas from nature (complex systems and evolution). I moved to California almost 5 years

[2016-10-04 21:00] BobMiller commented on #34
Dan (@dhimmel),

Its very generous of you to include us all as authors! Thanks!

One request, could you list my name as Robert Paul Miller, instead of Bob Miller. Bob/Robert Miller is such a common name, all us Bob Millers get mixed up sometimes.

[2016-10-05 00:59] ejsegall opened #35 "Cognoma intro slides and materials"
It would be helpful to list slides and other materials from early cognoma meetups in a very obvious location. These would be useful for new people as well as for review by veterans.

Examples:
https://www.dropbox.com/s/4btewka0icgse4f/DatathonWorkshop_5July2016_Final.pptx?dl=0
http://slides.com/dhimmel/datathon#/
http://portal.graphgist.org/graph_gists/drug-repurposing-by-hetnet-relationship-predi

[2016-10-05 13:10] ioannisa92 commented on #2
Hi, my name is Ioannis (Yianni) Anastopoulos. I have been working on several types of cancer, including paraganglioma/pheochromocytoma, breast cancer, but I am primarily working on melanoma genetics. I am looking forward to contributing to the project and be of any help as a cancer biologist.

[2016-10-05 14:32] mans2singh commented on #34
Hey Folks:  Please include me as Mans Singh.  Mans

[2016-10-05 16:32] superkostya commented on #2
Hi, my name is Kostyantyn (Kostya) Borysenko. I attended the Project Cognoma meeting for the first time yesterday and I liked it :)

I a have MS in Physics and PhD in Electrical Engineering. Most of my research has evolved around mathematical modeling, computational methods and working with large (and often messy) data sets. I recently relocated to the Greater Philly area and I'm still exploring m

[2016-10-05 19:56] shantanusharma commented on #2
Hi team Cognoma!

I am Shantanu, currently VP Engineering at a Philly local EdTech startup, Yellowdig (https://www.yellowdig.com): a platform to foster social learning in university classes.

I got my PhD specializing in computational biology from UNC Chapel Hill (research https://scholar.google.com/citations?user=1vXVdMsAAAAJ) and subsequently a scientist at GE Research, working on multimodal ima

[2016-10-06 14:59] dhimmel commented on #35
## July 12, 2016 meetup

[Here's the presentation](http://slides.com/dhimmel/cognomathon#/) and [here's the Google Doc](https://docs.google.com/document/d/1QoLZwTmMhvu_tv3SO4bA3-XomV1y5BR0CWhh833cuDQ/edit?usp=sharing) we created.

[2016-10-07 17:00] dhimmel commented on #34
I submitted the abstract. I used the most recent contribution info from https://github.com/cognoma/cognoma/pull/36. @joeleden was added.

:tada: You may all have gotten emails.

[2016-10-10 17:57] #34 closed, assigned to nobody

[2016-10-14 00:32] dhimmel commented on #34
Just got notified that the abstract was accepted for a 10 minute presentation.

🍾  to Cognoma!

[2016-10-18 12:06] stephenshank commented on #21
I have a friend whose father does graphic design. I asked a while back about a logo, and recently received the following black and white image. I also added some color gradients, messing around with GIMP. Figured I'd share and see what everyone thought.
![cognomasmall](https://cloud.githubusercontent.com/assets/8673708/19476916/ab6d9908-9509-11e6-80b9-177e977d8644.jpg)
![cognomabluesmall](https://

[2016-10-18 14:30] dhimmel commented on #21
Wow those are awesome!

Did you want to share his name so we can recognize his contribution? Maybe even get him on the GitHub!

[2016-10-18 19:58] stephenshank commented on #21
His name is Jeff Riegler, and I think it would be great to recognize him.

I can submit a PR to this repository with the image in SVG format, if this is desirable.

[2016-10-18 20:02] dhimmel commented on #21
Sounds good. Can you override the git author using:

[code]

Yea SVG and a high res PNG.

[2016-10-25 02:01] starlight7719 commented on #2
Hi! My name is Victoria and I am excited to join Project Cognoma! I've been to the last several meetings and got an introduction into what the project's goal is, especially the machine-learning part, and things people are working on. My background is in Neuroscience (PhD from UPenn) and Bioengineering (B.S. and M.S. from UPenn and GA Tech), and I want to get deeper into Data Science. I would like

[2016-10-25 18:14] dhimmel commented on #21
@stephenshank the SVG logo would be nice -- is it ready for a pull request?

[2016-11-01 23:17] cgreene commented on #35
Could we get a quick two minute video explaining the idea behind the project.
- view of current mockup of front end.

[2016-11-01 23:21] KT12 commented on #2
Hi! My name is Ken and my background is in finance.  I know a little Python and machine learning and I'm looking forward to contributing and learning more.

[2016-11-01 23:23] davidrichardsteinmetz commented on #2
Hi everyone, my name is David and I am excited about getting to know the data scene in Philly and to be able to contribute to this project. I just finished a 12-week data science bootcamp in NYC and have a background in management consulting and a PhD in materials science. I am familiar with R, Python, and SQL. I look forward to meeting and working with you.

[2016-11-01 23:36] Ahmed commented on #2
Hello folks:
My name is Ahmed. I'm software engineer and I work at Comcast. I'm looking forward to help with this project.

[2016-11-02 18:41] dhimmel commented on #35
@cgreene are you thinking about a trendy introduction video such as:
- https://youtu.be/B4YGpWxyn6Y
- https://youtu.be/61lw_d6Eoik

If so maybe @KarinSpiderwoman could help us find someone with the expertise to make such a thing.

[2016-11-02 18:42] gwaybio commented on #35
I second that!

[2016-11-02 18:44] cgreene commented on #35
This was a suggestion from the group of new attendees to the meetup. I think that is what they were hoping for. The level of production value does not have to be that high, but it would be amazing if it was!

[2016-11-02 18:52] KarinSpiderwoman commented on #35
I may be able to find someone.
Can someone email me something that I can just forward to him? Something that maybe mentions how he can get credit for it too?

[2016-11-02 18:56] KarinSpiderwoman commented on #35
There's no type of budget for this at all, right? Maybe we can find a student or something that could do that?

[2016-11-02 18:58] cgreene commented on #35
We are living in a budget-free world on this project. So - yea - it's going to have to be someone who wants to do it because they think it's fun. They, hopefully, will get exposure for their work too!

[2016-11-06 16:27] awm33 opened #41 "Logging"
Since this is across every production code repo, decided to place this here. We need centralized to have logging in order to diagnose issues.

Here are some options:
- ELK (Elasticsearch Logstash Kibana) - I use this at work. It's nice, but we would require one or more elasticsearch servers and running a logstash agent on each container instance (a containers instance has many containers).
- Elast

[2016-11-07 22:13] dhimmel commented on #41
Outside of my domain of expertise. Tagging @cgreene and @dcgoss.

[2016-11-07 22:17] cgreene commented on #41
If we use Raven (or another sentry compatible logger), we can store errors at sentry. We have an account there with high capacity due.

[2016-11-08 03:00] awm33 commented on #41
Looks like Sentry is good for errors / crash reports. I've gotten recommendations of it for frontend error reporting. So I think we should go ahead with using it for frontend and possibly the python backend.

But from [Sentry](https://sentry.io/vs/logging/)

I might play with CloudWatch Logs, but otherwise I might go ahead with setting up a single elasticsearch+kibana instance and go from there.

[2016-11-08 03:06] cgreene commented on #41
@awm33 : Agree that it is not a comprehensive logging solution. 👍 on your plan.

[2016-11-10 13:11] dcgoss commented on #41
I have about zero experience in this sort of area, so I trust your judgement

[2016-11-12 19:36] dhimmel opened #43 "Add git/GitHub workflow guidance to CONTRIBUTING.md"
We're currently following [this workflow](http://blog.scottlowe.org/2015/01/27/using-fork-branch-git-workflow/) but contributors have to learn this by trial-and-error. So note to update the `CONTRIBUTING.md` git/GitHub documentation.

[2016-12-05 14:42] dhimmel opened #45 "Cognoma pictures and videos"
This issue is for posting Cognoma related media, specifically pictures and videos.

For example, @KarinSpiderwoman could you post that Cognoma group picture we took? GitHub Issues allows you to drag and drop images.

[2016-12-06 15:03] KarinSpiderwoman commented on #45
![20161018_190534 1](https://cloud.githubusercontent.com/assets/17576597/20930288/ed5c1fda-bb9a-11e6-97bc-f453b8fb447c.jpg)
![20161018_190543](https://cloud.githubusercontent.com/assets/17576597/20930289/ed657580-bb9a-11e6-9446-7b8b036a5b22.jpg)
![20161018_190544](https://cloud.githubusercontent.com/assets/17576597/20930290/ed6c1b56-bb9a-11e6-89cb-f698796bdd9a.jpg)
![20161004_193114](https://cloud

[2016-12-06 15:08] KarinSpiderwoman commented on #45
I also have a couple videos that I recorded to use for writing press material.
It is accessible for anyone with the link - https://drive.google.com/open?id=0B8jWVkQ8Rof1NjBvUkQwVDlYTUk

[2016-12-08 22:01] joshmarcus commented on #2
Hi there!  I just noticed this repository.

I'm a software engineer at Meetup, where I've been technical lead for data engineering -- I have a lot of experience with "big data" e.g. a lot of time with Spark, distributed systems, and I'm familiar with feature engineering and building ML models (particularly R and spark's mllib).  I've also worked on other "predictive analytics" projects, including

[2016-12-09 21:41] dhimmel commented on #34
Gave the presentation today, which is [now on YouTube](https://youtu.be/wN-9bWakQWQ). See also the [slides](http://slides.com/dhimmel/rocky) and [abstract](https://www.iscb.org/cms_addon/conferences/rocky2016/track/oral.php#OP18). Thanks everyone who's helped us reach this point. Excited for the future.

[2016-12-09 21:44] htcai commented on #34
Excited too!

[2016-12-21 00:01] jruhym commented on #2
Hello,
My name is Drew. I am a computational molecular modeler turned iOS developer. I am looking to get into data science or scientific software development. I am here to learn and contribute if possible.

[2016-12-21 13:41] roi-f commented on #2
Hi, Roi here, an algo. eng., developing mainly on Matlab, and recently on Python, to broaden my spectrum and access many more NN tools.

My academical background includes BSc in math and in elec. & comp. eng., and MSc in ECE, with research in image processing from a math. point of view. I have professional experience in signal & image processing, mathematical and physical modeling of systems, opti

[2017-01-11 01:00] seignour commented on #2
Hi,

My name is Paul Seignourel, I work as a quant at the Susquehanna International Group. I have experience with python, R, and data analysis in general, but not with machine learning per se. Very interested in learning and hopefully contributing!

[2017-01-11 12:20] abeedvisram commented on #2
Hi,

My name is Abeed and I work as a software developer for Photospire Ltd. Had a great time last night at the Meetup and looking forward to learning and contributing to the project.

[2017-01-11 16:56] KT12 commented on #2
Hi Paul @seignour ,

I just wanted to correct myself w.r.t. using git clone.  It might be better to fork it on github.com to your own profile and then pull it to your local machine.

Cheers,
Ken

[2017-01-11 18:27] patrick-miller commented on #2
Hi all,

My name is Patrick Miller and I am a data scientist at Macmillan. It was nice meeting many of you last night at the meetup, and I look forward to applying some of my machine learning and data viz background to this project!

[2017-01-13 15:20] dhimmel commented on #1
Did anyone register `cognoma` on Twitter? See https://twitter.com/ProjectCognoma/status/819925407923372032.

[2017-01-14 23:10] seignour commented on #2
Hey Ken @KT12 ,

Thank you, that's exactly right. I followed a couple of tutorials about git/github and I think I finally have it figured out!

[2017-01-29 22:11] seignour commented on #15
The biology references above are very useful, but pretty high level. Wikipedia in particular is tough to read for the uninitiated, because there are so many words/concepts I don't know. Is there some online textbook/introduction to genetics that you would recommend? Doesn't even have to be online actually, I wouldn't mind ordering a book as long as it's not prohibitive.

On a related note, not sur

[2017-01-30 14:30] gwaybio commented on #15
Hi @seignour - I'll try to respond to your post with direct links

I am not sure about the consensus of genetics textbooks specifically, but the bible of molecular biology is Alberts' [Molecular Biology of the Cell](https://www.amazon.com/s/ref=nb_sb_ss_i_1_13?url=search-alias%3Dstripbooks&field-keywords=molecular+biology+of+the+cell&sprefix=molecular+bio%2Cstripbooks%2C128&crid=2UL6JTNL4ZCMX). It

[2017-01-31 11:14] seignour commented on #15
Thanks Greg, this is incredibly detailed and helpful. I've ordered the book and go through the documents!

[2017-01-31 11:27] gwaybio commented on #15
Sounds good, good luck!

[2017-01-31 23:20] dfile commented on #2
Hi! My name is Dan File. I am a data scientist working in financial services. My background is in mathematics, and I code in Python.

[2017-02-01 01:10] awm33 opened #53 "Getting started / kickoff script"
Create a python/bash script that given a current working directory, clones all required repos to run the app and kicks off the app using a docker compose file.

Also, create a Getting Started section on the README of this repo to guide first time users.

[2017-02-09 21:49] dhimmel opened #55 "The predecessor study to Cognoma published"
@gwaygenomics, @allaway, and @cgreene's study was just published (two days ago):

Gregory P. Way, Robert J. Allaway, Stephanie J. Bouley, Camilo E. Fadul, Yolanda Sanchez, Casey S. Greene
_BMC Genomics_ (2017) DOI: 10.1186/s12864-017-3519-7

So congrats to them. This study was what initially motivated us to create Project Cognoma.

In short, they used gene expression information to predict whether

[2017-02-09 21:56] gwaybio commented on #55
also congrats to @allaway, who is a co-first author on this paper and made clear many of the initial use case motivations (#11) and comments on early iterations of @bdolly's query builders!

[2017-02-09 22:26] dhimmel commented on #55
Sorry @allaway, I didn't make the connection that you were Robert J. Allaway! I added your handle to the initial post. Keep up the great work!

[2017-02-09 23:02] allaway commented on #55
No worries @dhimmel - cheers!

[2017-02-12 18:30] pvjm09 commented on #2
Hi , My name is Pavan, Working for Comcast as back end developer . My background is in Math , Computer science and can Code in Java ,Scala and Python. Now trying my hand at Mechine Learning/Data Science.

[2017-02-14 01:04] wisygig commented on #2
Hi, I'm Jason. It was nice to meet everyone at the Meetup on Monday, and I hope to be able to help with this project!

[2017-02-14 23:09] MeghanaVasavada commented on #2
Hi, my name is Meghana. It was wonderful meeting with everyone at the Cognoma Meetup yesterday. I'm a programmer analyst-Data warehouse developer with a Masters Degree in Bioinformatics and a relevant background in Life Sciences, Genetics, Statistics, Data mining, R, Perl, Python and SQL programming. I look forward to contribute in this project by applying some of my Machine learning and statistic

[2017-02-15 03:24] MichaelKheifetz commented on #2
Hi, I am Michael. It was great meeting everyone for the first time last night. I just completed an intensive 12 week bootcamp in Data Science in New York (used Python (Pandas, Numpy, Scipy, Scikit-Learn, etc) and am looking forward to working on this exciting project.

[2017-02-15 19:11] dhimmel commented on #21
Closing as I think Jeff Riegler's logo is awesome. Thanks to @stephenshank, it's now available in the [`media/logo`](https://github.com/cognoma/cognoma/tree/33770f95b8ca5b3ac217a87e8133918b160d7d5b/media/logo) directory.

[2017-02-15 19:11] #21 closed, assigned to nobody

[2017-02-15 19:13] dhimmel commented on #29
Closing as we used the GitHub API to extract contribution info in https://github.com/cognoma/cognoma/pull/33, which uses commit counts to measure contribution. Happy to reopen this issue if someone is interested in other metrics of assessing contribution.

[2017-02-15 19:13] #29 closed, assigned to nobody

[2017-02-15 19:14] #5 closed, assigned to nobody

[2017-02-17 17:48] #43 closed, assigned to nobody

[2017-03-01 01:00] KarinSpiderwoman opened #58 "Cognoma Contributor Feedback Survey"
Hi, all you amazing humans! :hugs:

We wanted to get some feedback on your experience with the Cognoma project. Can you please take a few minutes to fill out this extremely short but very [helpful survey](https://tinyurl.com/CognomaFeedback)?

https://tinyurl.com/CognomaFeedback

[2017-03-01 01:02] KarinSpiderwoman commented on #58
Once we collect the feedback, I will write a report summary of what we found.

[2017-03-01 01:22] cepstralspike commented on #2
My name is Peter Korman. If it is possible for me to make contributions without breaking anything I would like to try. I have some python skills. If I could start somewhere simple and build on that that would be great. I am impressed by the general level of energy in the group.

[2017-03-01 15:54] KarinSpiderwoman commented on #58
I appreciate everyone taking the time out to fill out the survey. This will help us improve on Cognoma Datathon (and any other hack-a-thons that we may open in the future). We will try to take this feedback into account as we continue to build this project!

There are definitely some solid patterns in the feedback.

**The motivation to contribute:**

+ 80% mentioned it's important to learn and str

[2017-04-04 23:44] andy12290 opened #60 "--branch is an invalid argument for git checkout"
# Create a new branch named add-username and switch to it
git checkout --branch add-username.

instead of above command, we need to execute the following command.
git checkout -b add-username.

[2017-04-05 01:32] dhimmel commented on #60
Cool we'll use git the short argument instead.

@andy12290, did you want to make this pull request?

[2017-04-05 02:15] andy12290 commented on #60
Yes :)

[2017-04-22 20:08] patrick-miller opened #61 "Meetup on April 25th"
I was wondering if this was still happening? I only see it listed here, but not on Meetup.

[2017-04-22 22:47] #61 closed, assigned to nobody

[2017-04-22 22:48] dhimmel commented on #61
@patrick-miller thanks for the nudge to post the [meetup](https://www.meetup.com/DataPhilly/events/239416274/)! It's on.

[2017-04-25 16:34] dhimmel opened #63 "Refining the webapp's scope: return analyses as Jupyter notebooks"
Currently, we've made good progress on the query building portion of the frontend. You can play with it at http://cognoma.org/query-builder/mutations. Thanks @bdolly and Think Company for the hard work on the frontend. The backend is also close to supporting the necessary API calls for the query builder. Thanks @awm33, @dcgoss, @stephenshank, @kurtwheeler and others who have helped get the backend

[2017-04-25 17:10] bdolly commented on #63
@dhimmel I think the results viewer is still very much viable as part of the webapp and is laid out in the front-end roadmap for development. I think it would be helpful to focus on getting the webapp results viewer up and then incorporating the Jupyter notebook as a export feature.

I am unable to make the meetup tonight (4/26) due to prior obligations. I plan on continuing development of the web

[2017-04-25 17:33] cgreene commented on #63
I like the idea of returning analyses as Jupyter notebooks. This has a number of important benefits. One of the primary ones is that the mission of the project is to put TCGA data + ML methods into the hands of cancer biologists. By returning an iPython notebook that has already been run, the recipient can also take that notebook and alter key assumptions that we made (if warranted) to conduct the

[2017-04-25 17:50] dhimmel commented on #63
@bdolly I think you make a good point that notebook export can coexist with a webapp results viewer. If we go ahead with the notebook idea, we'll make sure not to create any incompatibilities with a potential frontend results viewer.

The proposal can be boiled down to as having a notebook that executes the analysis. The notebook can import functions from [`cognoma/cognoml`](https://github.com/cog

[2017-05-02 01:14] rdvelazquez commented on #2
Hi, I'm Ryan. My background is in civil and environmental engineering.  I have some experience with Python and am starting to learn more data science and machine learning. I look forward to contributing where I can!

[2017-05-04 17:04] #60 closed, assigned to nobody

[2017-05-30 22:57] nigamv commented on #2
Hi, I am Vibhor. My background is in software development and data science. I have experience with Python and R. I am looking forward to contributing where I can.

[2017-05-30 23:50] wisygig commented on #63
I'm willing to look at this.

[2017-07-20 19:43] dcgoss commented on #11
NF1 (loss)
TP53 (loss)
SUZ12 (loss)
EED (loss)
SPRED1 (loss)
GLI1 (gain of function, trunc mutation)
EGFR (gain of function, amplification)
IDH1 (wild type = worse prognosis)

http://nbviewer.jupyter.org/urls/cognoma-files.s3.amazonaws.com/media/notebooks/classifier_12.ipynb processed a notebook for glioblastoma with the supplied genes

[2017-07-20 19:55] dcgoss commented on #63
Is this issue solved at this point? @dhimmel

[2017-08-15 18:33] dhimmel commented on #63
Yep!

[2017-08-15 18:33] #63 closed, assigned to nobody

[2017-08-16 00:07] dcgoss commented on #41
Logging is currently taking place in the containers. This issue should be closed.

[2017-08-16 01:27] #41 closed, assigned to nobody

[2017-10-11 17:31] dhimmel commented on #45
Here are some technical figures (graphs) that I collected from the machine-learning repo: [`cognoma-figures.zip`](https://github.com/cognoma/cognoma/files/1376599/cognoma-figures.zip). I thought these may work well interspersed in the slideshow for the [Launch Party](https://meetu.ps/3dzlvc) tonight.

[2017-10-11 17:35] dhimmel commented on #45
And here's a photo from our MLK Day Event at Thinkcompany by Jacqueline Siotto:

![_dsc0003-1-2](https://user-images.githubusercontent.com/1117703/31456776-c71e67f6-ae88-11e7-9ceb-f870c6b79edd.jpg)

More photos and info from that event at:

- https://codeforphilly.org/blog/mlk_day_of_service_with_think_company
- http://generocity.org/philly/2017/01/20/code-philly-think-company-cancer-data/
- https

[2017-10-12 12:56] dhimmel opened #69 "Cognoma Launch Party Materials"
Hey Everyone! Thanks for making the [Launch Party](https://www.meetup.com/DataPhilly/events/243724362/) a great success. We can use this thread to post materials and pictures from the party.

He're the slides that were playing in a loop before and after the presentations: [`cognoma-lauch-slides.pptx`](https://github.com/cognoma/cognoma/files/1379354/cognoma-lauch-slides.pptx). The music that was p

[2017-10-19 22:02] dhimmel commented on #69
Here are the photos that Anna Greene took from the launch party as a [Google Photos Album](https://photos.app.goo.gl/PdyIPjzYBfx91vty1).

[2018-08-01 22:00] kurtwheeler opened #71 "CircleCI will stop supporting their version 1.0 in a month"
It looks like the cognoma projects are still using 1.0. We'll need to migrate to 2.0.